{
    "env": {
      "node": 1,
      "browser": 1,
      "es6": 1
    },
    "globals": {
      "exampleGlobalVariable": true
    },
    "rules": {
      "eqeqeq": 1
    },
    "plugins": [
    ]
  }